/** {
	margin: 0;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: dimgrey;
  color: white;
  text-align: center;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;

  justify-content: center;
/*  align-items: center;*/
  min-height: 100vh;
  background-color: #F9BC61;
  overflow: hidden;
  font-family: "Roboto";
}

.card {
  display: flex;
  margin-top: 55px;
/*  justify-content: center;*/
  align-items: center;
  height: 400px;
  width: 800px;
  background: linear-gradient(#F9BC61, #FDE8C9);
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
  border-radius: 8px;
}

